body{
    margin: 0;
    padding: 0;
    font-family: "Suisse Intl", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#banner img{
    height: 520px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

#all_category{
    display: flex;
    height: 400px;
    width: 100%;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    margin-top: 80px;
    margin-bottom:77px ;
    font-family: "Suisse Intl", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#all_category a{
  text-decoration: none;
  color: black;
  margin-top: 15px;
  font-size: 14px;

}

#all_category a:hover{
  text-decoration: underline;

}
.vr_title{
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    font-size: 32px;
    width: 60px;
    display: flex;
    align-items: center;
    border:0px solid orange;
    
}
.vr_title:hover{
    color: purple;
}
.cat1{
    width: 255px;
    height: 100%;
    display: flex;
  
}
.subcat{
    display: flex;
    flex-direction: column;
    justify-content:end;
   
}
.subcat span{
    margin-top: 15px;
    font-weight: bold;
   
}
#most_wanted{
    width: 100%;
    height: 325px;
    border-top: 1px solid rgb(7, 7, 7);
    border-bottom: 1px solid rgb(7, 7, 7);
    display: flex;
    align-items: center;
    
}
.vr_title_most_wanted{
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    font-size: 32px;
    width: 4.5%;
    display: flex;
    align-items: center;
   
}
#most_wanted_box{
    width: 95%;
    height: 80%;
    font-size: 22px;
    margin-top: 50px;
}
.most_wanted_row1{
    width: 90%;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.most_wanted_row2{
   
    width: 90%;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.most_wanted_row1>div{
    cursor: pointer;
}
.most_wanted_row2>div{
    cursor: pointer;
}
.most_wanted_row1>div:hover{
    color:#8735ea
}
.most_wanted_row2>div:hover{
    color:#8735ea
}
#biggest_hottest_best{
    width:100%;
    height:520px;
    border-top: 1px solid black;
    display: flex;
  }
  #bhb_left{
    border: 1px solid red;
    width: 65%;
  }
  #bhb_right{
    width: 20%;
    background-color: rgb(202,252,79);
    
    font-size: 45px;
    padding-left: 4%;
    padding-top: 5%;
  }
  #blackButton{
    background-color: black;
    padding:10px 35px 10px 35px;
    cursor: pointer;
    
    color: white;
    margin-right: 5%;
  }
  #bhb_right:hover{
   background-color: #c9bffb;
  }
  #bhb_third{
    width: 10%;
    background-color: rgb(202,252,79);
  }
  #bhb_left>div{
    height: 428px;
    border: 1px solid red;
    margin-left: 10%;
  }